@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Oswald:wght@300&display=swap');


.App {
  text-align: center;
}

*{
  margin: 0 ;
  padding: 0;
}

.Header-01{
  height:120px;
  width: 100%;
  font-family: 'Damion', cursive;
  font-size: 38px;
  padding-top: 15px;
  background-color: #e4ca27;
}

.form-sub-01{
  
}

.Mainapp{
  width:50%;
  margin:auto;
}

.TodoItem{
  margin-top: 10px;
  height:auto;
  text-align: left;
  padding:10px;
  border: 2px solid black;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 14px 12px 14px -14px rgba(0,0,0,0.75);
  
}

.btn{
  background-color: #e4ca27;
}